.nav {
    border-bottom: 1px solid #eee;
}

.nav-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
.nav-links:hover {
    color: #186102;
}
.nav-actions {
    display: flex;
    gap: 0.75rem;
}
.nav-logo img {
    height: 50px;
}
.nav-logo:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}