.hero {
    padding: 4rem 0;
}

.hero-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    
    gap: 3rem;
}
.hero-text {
    max-width: 500px;
    align-items: center;
    justify-self: center;
}
.hero-image {
    width: 100%;
    max-width: 520px;
    justify-self: center;
}
.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.hero-text p {
    font-size: 1.125rem;
    margin-bottom: 2rem;
    color: #555;
}